* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
    color: white;
}

.order-container {
    height: 600px;
    overflow-y: scroll;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
}

.text-info {
    width: 240px;
    height: 140px;
}

.menu-item {
    margin: 0 3px 1px;
    border: 2px solid black;
    padding: 3px;
}

.menu-item:hover {
    border: 2px solid #FD6500;
    background-color: rgba(0, 0, 0, .5);
    cursor: pointer;
}

h2 {
    font-size: 18px;
}

h3 {
    font-size: 14px;
}

h4 {
    font-size: 12px;
    font-weight: normal;
}

.description {
    margin-top: 5px;
}

.highlighted-border {
    border: 1px solid #FD6500;
}
