/* You can add global styles to this file, and also import other style files */
body {
    background-image: url("https://cdn.vox-cdn.com/thumbor/_i-ohWZpFlmxBPmOXGf-k3k1FAY=/0x0:1800x1200/1200x800/filters:focal(756x456:1044x744)/cdn.vox-cdn.com/uploads/chorus_image/image/66688524/PrettyRickey_SpilledMilk_149.0.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.body-blur {
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    backdrop-filter: blur(10px);
    z-index: -1;
}